!!! 5
html
  head
    include head
    title 添加专栏文章
    include editor_head
    script
      var article_id = #{locals.article?article.id:0}
  body#add-article
    - locals.pageId=1;

    include header
    #content
      .content
        .left
          .module
            if !locals.card || !locals.card.alipay
              p.alert() 你还没有填写你的支付宝收款账号，无法接受读者的赞助，请去花名册完善自己的信息。<a href="/edit-card">去完善</a>
            form.form-horizontal#form(method='post')
              input(type='hidden', name='is_yuanchuang',value="1")
              fieldset
                legend #{locals.article?"编辑文章":"发表新文章"}
                if locals.article
                  input(type="hidden",name="id",value="#{article.id}")
                .control-group
                  input#title(type='text', name='title', placeholder='文章标题',value="#{locals.article?article.title:''}",required)
                //- ul.editor-tab.nav.nav-tabs
                //-   li.active
                //-     a(data-toggle="tab",href="#markdowneditor") markdown编辑器
                //-   li
                //-     a(data-toggle="tab",href="#seeeditor") 可视化编辑器
                .control-group
                  textarea#desc(name="desc",placeholder="请用200字以内简单描述此文内容",required) !{locals.article?article.desc.replace(/<[^>]*?>/g,'').replace(/\s/g,''):''}
                .tab-content
                  .tab-pane#markdowneditor.active
                    .control-group#wmd-editor-parent
                      .wmd-panel#wmd-editor-con
                        .padding
                          #wmd-bar-parent
                            #wmd-button-bar
                          textarea.expand.wmd-input#wmd-input(name="md",placeholder="文章内容，markdown语法。如果没有写完，可以直接关闭页面，下次打开内容仍然会在。") #{locals.article?article.md:''}
                  .tab-pane#seeeditor
                    .control-group
                      script(type="text/plain",id="myEditor")
                  
                
                .control-group
                  .columns
                    input#column(type="hidden",name="column_id",value="#{locals.article?article.column_id:column_id}")
                    div.hd 发表到何专栏：
                    div.bd 
                      each column,i in columns
                        span.label(data-id="#{column.id}",class="#{locals.article?(article.column_id==column.id?'label-success':''):(column.id==column_id?'label-success':'')}",data-original-title="#{column.desc_md&&column.desc_md.substr(0,100)}",title="#{column.desc_md&&column.desc_md.substr(0,100)}") #{column.name}
                .control-group
                  button.btn#submit(type='submit') 发表
                .control-group#wmd-preview-parent
                  .wmd-panel.wmd-preview#wmd-preview-con
                    .padding
                      #wmd-preview

                
            #myModal.modal.hide.fade.
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">插入图片</h3>
              </div>
              <div class="modal-body">
                  <input type="file" name="pic" id="file" />
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
                <button class="btn btn-primary">插入</button>
              </div>
      .right 
        .module
          .hd 提示
          .bd 
            div.item 每篇技术专栏通过审核后即可获得本站的10元基础赞助，小小心意，希望大家多多分享自己的心得。
            div.item 可以使用markdown语法，可以插入图片。
            div.item 插入代码，请先输入代码，然后选中后点击工具栏里的 <> 符号。
        .module
          .hd 准则
          .bd
            .item 专栏第一准则：我们特别欣赏【入门式】，【基础性】，【总结性】，【普及式】，【系列化】的文章。以帮助别人为本，而不是为了炫技为了让别人看着觉得很”牛逼“。
      #fullscreen-editor.hidden
      #fullscreen-exit.hidden 
        a.btn
          i.icon-resize-small
    script(src='#{assets_head}/js/ajaxfileupload.js')
    script(src='#{assets_head}/js/loadingTip.js')
    script(src='#{assets_head}/js/messageTip.js')
    script
      //- UE.getEditor('myEditor',{
      //-       //这里可以选择自己需要的工具按钮名称,此处仅选择如下五个
      //-       //focus时自动清空初始化时的内容
      //-       autoClearinitialContent:true,
      //-       //关闭字数统计
      //-       wordCount:false,
      //-       //关闭elementPath
      //-       elementPathEnabled:false,
      //-       //默认的编辑区域高度
      //-       initialFrameHeight:300
      //-       //更多其他参数，请参考ueditor.config.js中的配置项
      //-   })
      $(".columns .label").click(function(){
        $(".columns .label").removeClass("label-success")
        $(this).addClass("label-success");
       $("#column").val($(this).attr("data-id"))
        })
      $('.columns .label').tooltip({
          placement:"bottom"
      })
      var converter1 =new  Markdown.Converter();
      Markdown.Extra.init(converter1);
      var editor1 = new Markdown.Editor(converter1);

      editor1.run();
     
      if(!article_id){
       $("#wmd-input").val(localStorage.getItem("textarea_article_add"))
        $("#wmd-input").keyup(function(){
          localStorage.setItem("textarea_article_add",this.value)
          })
        $("#title").val(localStorage.getItem("textarea_article_add_title"))
        $("#title").keyup(function(){
          localStorage.setItem("textarea_article_add_title",this.value)
          })
      }
       
      $("#form").submit(function(e){
        e.preventDefault()
        
        HtmlJS.util.ajax("",$("#form").serialize(),"post",function(data){
            if(data.success){
             if(!article_id) alert("发布成功")
             
             if($("#column").val()){
             window.location.href="/article/column/"+$("#column").val()
             }else{
             window.location.href="/article"
             }
             !article_id&&localStorage.setItem("textarea_article_add","")
             !article_id&&localStorage.setItem("textarea_article_add_title","")

            }else{
              alert(data.info)
            }
          },function(){

          },$("#submit"))
      })
      editor1.hooks.set('insertImageDialog', function(callback) {
        $("#myModal").modal("show");
        $("#file")[0].onchange=function(){
          $.ajaxFileUpload({
            url:"/upload", 
            secureuri:false,
            fileElementId:'file',
            dataType: 'json',
            success: function (data, status)
            {
              if(data.success){
                callback(data.data.filename)
                $("#myModal").modal("hide");
              }else{
                messageTip.show(data.info)
                
              }
              loadingTip.hide()
            },
            error:function(){
              
              loadingTip.hide()
            }
          })
        };
        return true; // tell the editor that we'll take care of getting the image url
      });
      