script(src='#{assets_head}/js/bootstrap/bootstrap-transition.js')
script(src='#{assets_head}/js/bootstrap/bootstrap-modal.js')
script(src='#{assets_head}/js/bootstrap/bootstrap-tooltip.js')
  
script(src='#{assets_head}/js/Markdown.Converter.js?dd')
script(src='#{assets_head}/js/Markdown.extra.js?ddd')
script(src='#{assets_head}/js/Markdown.Sanitizer.js?dd')
script(src='#{assets_head}/js/Markdown.Editor.js?ddd')
link(href='#{assets_head}/css/Markdown.Editor.css?dddd', type='text/css', rel='stylesheet', charset='utf-8')

style
  #insertImageDialog { display:none; padding: 10px; position:absolute;width:400px;}
  #insertImageDialog h4 { margin-bottom: 10px; }
  #insertImageDialog input[type=text] { width: 260px; }
  #insertImageDialog .loading-small { display:none; float: left; padding-right: 5px; }
  #title{width:95%;}