style
  #googlead{position:fixed;bottom:-250px;right:0px;}
  .ad-tip{position:fixed;right:-185px;font-size:12px;top:20px;height:30px;line-height:30px;background:#efefef;
  box-shadow:0px 1px 3px #ccc;cursor:default;
  border:1px solid #fff;padding:0 10px;border-top-left-radius:3px;border-bottom-left-radius:3px;}
  .ad-tip span{display:inline-block;}
div#googlead.hidden.
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- 弹出广告 -->
  <ins class="adsbygoogle"
     style="display:inline-block;width:250px;height:250px"
     data-ad-client="ca-pub-8166279959459646"
     data-ad-slot="1929456950"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
//- link(rel="stylesheet",href="#{assets_head}/css/csshake.css?dddddddd",type="text/css")
//- script(src="#{assets_head}/js/prefixfree.min.js")
//- style
//-   .shake-arrow{position:fixed;height:20px;background:url(#{assets_head}/images/arrow_right.png) no-repeat;background-size:100%;width:20px;}
//-   .shake-arrow-2{position:fixed;height:20px;background:url(#{assets_head}/images/arrow_bottom.png) no-repeat;background-size:100%;width:20px;}
div.ad-tip 觉得本站不错？ -> 
  span 点一下右下角的广告支持下吧

script.
  $(".ad-tip").on("mouseenter",function(e){
      $(this).animate({
      right:0
      },400)
    }).on("mouseleave",function(e){
      $(this).animate({
      right:-185
      },400)
    })
  setTimeout(function(){
    $("#googlead").removeClass("hidden").animate({bottom:0})
    //- for(var i=0;i<13;i++){
    //-   var shake = $("<div class='shake-arrow big shake shake-constant hover-stop'></div>");
    //-   shake.css({
    //-     right:260,
    //-     bottom:i*20
    //-     })
    //-   $("body").append(shake)
    //- }
    //- for(var i=0;i<13;i++){
    //-   var shake = $("<div class='shake-arrow-2 big shake shake-constant hover-stop'></div>");
    //-   shake.css({
    //-     bottom:260,
    //-     right:i*20
    //-     })
    //-   $("body").append(shake)
    //- }
  },3000)

