#header
  .wrapper.clearfix
    a.logo(href="/",title="前端乱炖")
      span.dun 炖
    .navbar.navbar-inverse
      .navbar-inner
        .container
          .nav-collapse.collapse
            ul.nav.left-nav
              li(class="#{locals.pageId==0?'active':''}",pageId="0")
                a(href="/") <i class="icon-home"></i>首页
              li(class="#{locals.pageId==1?'active':''}",pageId="1")
                a(href="/article") <i class="icon-book-open"></i>专栏
              li(class="#{locals.pageId==7?'active':''}",pageId="7")
                a(href="/qa") <i class="icon-lightbulb"></i>问答
              li(class="#{locals.pageId==10?'active':''}",pageId="10")
                a(href="/topic") <i class="icon-conversation"></i>话题
              li(class="#{locals.pageId==5?'active':''}",pageId="5")
                a(href="/act") <i class="icon-sampler"></i>活动
              li.hidden(class="#{locals.pageId==8?'active':''}",pageId="8")
                a(href="/tag") 标签
            
              li.hidden(class="#{locals.pageId==4?'active':''}",pageId="4")
                a(href="/read") <i class="icon-bookmark"></i>阅读
              

              
              
            
              li.hidden(class="#{locals.pageId==6?'active':''}",pageId="6")
                a(href="/book") 免费送书
              //- li.dropdown
              //-   a.dropdown-toggle(data-toggle="dropdown")
              //-     |<i class="icon-list"></i> 花名册
              //-   ul.dropdown-menu
            
            ul.right-nav
              if locals.user
                li 
                  a(href="/user",title="有#{unread_count}条未读消息",style="margin-right:5px;") 
                    img(src="#{user.head_pic}",width="20px")
                    if locals.unread_count
                      span.unread(href="/user",) #{unread_count}
                  a(href="/user/logout?redirect=#{encodeURIComponent(locals.url)}") 退出
              else
                li
                  a(href="/user/login?redirect=#{encodeURIComponent(locals.url)}") 登录
              li(class="#{locals.pageId==2?'':''}",pageId="2")
                a(href="/cards") <i class="icon-nameplate hidden"></i>花名册
              
              li(class="#{locals.pageId==9?'':''}",pageId="9")
                a(href="/tools") <i class="icon-classic-hammer hidden"></i>常用工具

        
if locals.user && (!locals.user.card_id)
  #tips(style="width:940px;margin:0 auto;margin-top:40px;")
    .module
      .bd 
        |您还没有加入 花名册 ，加入花名册后，可以享受更多功能，现在加入，<a href="/add-card">加入花名册</a>。<br/>
        |如果您之前在花名册添加过信息，点击这里去领取你的名片，<a href="/cards">领取花名册</a>
else
  #tips(style="margin-top:30px;")
