!!! 5
html
  head
    include head
    title 前端乱炖, 最专业的前端技术内容社区
    |<meta name="description" content="前端乱炖，这里是最专业的前端知识平台，汇集国内大部分前端开发人员的前端花名册，最精彩的原创文章专栏，最专业的问答平台，最火热的话题频道，最丰富的线下线上活动。html,js,css,nodejs,前端开发,前端招聘,jquery,qianduan">
    style
      #bdshare a{}
      
    script(src='#{assets_head}/js/bootstrap/bootstrap-tooltip.js')
    script(src='#{assets_head}/js/lazyload.js')
  body#index
    - locals.pageId=0;
    include header

    #content.clearfix
      .content
        .left
          //
            div.alert.alert-warning 本站第一次线下活动【中秋节杭州基层前端大聚会】，开始报名！<a href="/act/1">戳我去报名</a>！
          .module.search
              form(action="/search",method="get",style="margin:0;")
                fieldset
                  .input-append(style="margin:0;")
                    input#keyword.span2.input-large(type="text",name="q",placeholder="请输入关键词查询全站内容")
                    button.btn 搜索
              
          div(style="margin-bottom:10px;")
          - var bannerR = Math.random()
            if bannerR>0.5
              a(href="")
                img(src="http://htmljs.b0.upaiyun.com/uploads/1387861791521-123.png")
            else
              a(href="/topic/136")
                img(src="http://htmljs.b0.upaiyun.com/uploads/1387964257099-souche-1.png")
          if locals.cards
            .module.mod.recent_cards
              .hd
                a(href="/cards") 花名册新人（#{locals.all_count?all_count.card:0}）
              .bd
                each card,i in cards
                  .card.user(class="#{card.sex=='男'?'nan-user':'nv-user'}")
                    .pic
                      a.tooltip-trigger(href="/card/#{card.id}",data-original-title="#{card.desc}")
                        img(src="#{card.head_pic}")
                        if card.sex == '男'
                          .sex.nan
                        else
                          .sex.nv
                    .name
                      a(href="/card/#{card.id}")  #{card.nick}
          .module.
            <script type="text/javascript">
            /*728*90，创建于2013-12-16*/
            var cpro_id = "u1435510";
            </script>
            <script src="http://cpro.baidustatic.com/cpro/ui/c.js" type="text/javascript"></script>
          if locals.articles
            .module.mod.recent_articles
              .hd
                a(href="/article") 最新的专栏文章（#{locals.all_count?all_count.article:0}）
              .bd(role="list")
                each article,i in articles
                  .item(class="#{article.visit_count<60?'new':''}",role="listitem")
                    a.title(href="/article/#{article.pinyin?article.pinyin:article.id}") #{article.title}
                    .desc 
                      
                      a.user(href="/user/#{article.user_id}") #{article.user_nick}
                      span.time #{moment(article.createdAt).fromNow()}
                      span.desc-item
                        span.index 浏览
                        a.value #{article.visit_count}
                      span.desc-item
                        span.index 评论
                        a.value #{article.comment_count}
                
                .columns 
                  .hd
                    a(href="/article/column") 最近更新的专栏（#{locals.all_count?all_count.column:0}）
                  each column in columns
                    if column.users.id
                      .column
                        a.tooltip-trigger(href="/user/#{column.user_id}",data-original-title="#{column.users.nick}")
                          img(src="#{column.users.head_pic}")
                        a.name.tooltip-trigger(href="/article/column/#{column.id}",data-original-title="#{column.name}  #{moment(column.last_article_time*1).fromNow()}") #{column.name.substr(0,16)}
                        if column.is_rssed
                          span.rssed.tooltip-trigger(data-original-title="已订阅")
                            i.rss.social
                        else
                          a.rss.tooltip-trigger(href="/article/column/#{column.id}/rss",data-original-title="订阅此专栏")
                            i.rss.social
                //- .visitors
                //-   a.hd(href="/cards") 正在路过的
                //-   each visitor in article_visitors
                //-     .visitor.user
                //-       a(href="/user/#{visitor.user_id}",data-original-title="#{visitor.user_nick} #{moment(visitor.createdAt).fromNow()}")
                //-         img(src="#{visitor.user_headpic}")
          if locals.questions
            .module.mod
              .hd
                a(href="/qa") 最新的问题（#{locals.all_count?all_count.question:0}）
              .bd
                each question,i in questions
                  .item(class="#{question.visit_count<30?'new':''}")
                    a.title(href="/qa/#{question.pinyin?question.pinyin:question.id}") #{question.title}
                    .desc 
                      a.user(href="/user/#{question.user_id}") #{question.user_nick}
                      span.time #{moment(question.createdAt).fromNow()}
                      span.desc-item
                        span.index 浏览
                        a.value #{question.visit_count}
                      span.desc-item
                        span.index 回答
                        a.value #{question.answer_count}
                .tags
                  a.hd(href="/tag") 问题标签
                  each tag,i in tags
                    a.tag(href="/tag/#{tag.id}") #{tag.name}
          if locals.topics
            .module.mod
              .hd
                a(href="/topic") 最新的话题（#{locals.all_count?all_count.topic:0}）
              .bd
                each topic,i in topics
                  .item(class="#{topic.visit_count<30?'new':''}")
                    a.title(href="/topic/#{topic.id}") #{topic.title}
                    .desc 
                      if topic.last_comment_user_id
                        | <a class="user" href="/user/#{topic.last_comment_user_id}">#{topic.last_comment_user_nick}</a>
                      span.time #{moment(topic.last_comment_time).fromNow()}
                      span.desc-item
                        span.index 浏览
                        a.value #{topic.visit_count}
                      span.desc-item
                        span.index 跟帖
                        a.value #{topic.comment_count}
                .topic_tags
                  .hd 话题类型
                  each tag in topic_tags
                    a.tag(href="/topic?tag_id=#{tag.id}",class="#{tag.important?'important':''}") #{tag.name}
          .module.timelines
            each timeline in timelines
              if timeline.card_id
                .card-item.timeline-item.clearfix
                  a.t-user(href="/user/#{timeline.card_user_id}",data-original-title="#{timeline.card_nick}")
                    img(data-original="#{timeline.card_head_pic}",width="20")
                  span.value  #{moment(timeline.createdAt).fromNow()} 
                  a(href="/card/#{timeline.card_id}") #{timeline.card_nick} 
                  span 添加了自己的名片：
                  a(href="/card/#{timeline.card_id}") 查看名片 
                  .entry-name <i class="icon-nameplate" title="名片"></i>
              else if timeline.article_id
                .article-item.timeline-item.clearfix
                  .entry-title
                    h2.title
                      a.t-user(href="/user/#{timeline.article_user_id}",data-original-title="#{timeline.article_user_nick}")
                        img(data-original="#{timeline.article_user_headpic}",width="20")
                      span.suo 「专栏」
                      a.real-title(href='/article/#{timeline.article_id}', title='#{timeline.article_title}', rel='bookmark') #{timeline.article_title}
                  .entry-foot
                    div.others
                      span.time.item
                        span.value #{moment(timeline.createdAt).fromNow()} 由
                        a.value.url.fn(rel='author', href='/user/#{timeline.article_user_id}')  #{timeline.article_user_nick} 
                        span.value 
                          | 发布在 
                          if timeline.article_column_id && locals.columns
                            each column in columns
                              if column.id == timeline.article_column_id
                                a(href="/article/column/#{column.id}") #{column.name}
                          |  专栏
                      span.item
                        span.index 浏览 
                        span.value #{timeline.article_visit_count}
                      span.item
                        span.index 评论 
                        span.value  #{timeline.article_comment_count}
                      span.item
                        span.index 评分
                        a.value(href="/article/#{timeline.article_id}#score")  #{timeline.article_score}
                      if locals.user&&locals.user.is_admin
                        span.actions.item
                          span.index 操作：
                          if timeline.sort ==10000
                            a(href="/index/#{timeline.id}/update?sort=0") 取消置顶
                          else
                            a(href="/index/#{timeline.id}/update?sort=10000") 置顶
                  .entry-name <i class="icon-book-open" title="专栏原创文章"></i>
                      
              else if timeline.question_id
                .question-item.timeline-item.clearfix
                  .entry-title
                    h2.title
                      a.t-user(href="/user/#{timeline.question_user_id}",data-original-title="#{timeline.question_user_nick}")
                        img(data-original="#{timeline.question_user_headpic}",width="20")
                      span.suo 「问题」
                      a.real-title(href='/qa/#{timeline.question_id}', title='#{timeline.question_title}', rel='bookmark') #{timeline.question_title}
                  .entry-foot
                    div.others
                      span.time.item
                        span.value #{moment(timeline.createdAt).fromNow()} 由
                        a.value.url.fn(rel='author', href='/user/#{timeline.question_user_id}')  #{timeline.question_user_nick} 
                        span.value 发布在 问答区
                      span.item
                        span.index 浏览 
                        span.value #{timeline.question_visit_count}
                      span.item
                        span.index 回答 
                        span.value #{timeline.question_answer_count}
                      if locals.user&&locals.user.is_admin
                        span.actions.item
                          span.index 操作：
                          if timeline.sort ==10000
                            a(href="/index/#{timeline.id}/update?sort=0") 取消置顶
                          else
                            a(href="/index/#{timeline.id}/update?sort=10000") 置顶
                  .entry-name <i class="icon-lightbulb"  title="问答"></i>
              else if timeline.topic_id
                .topic-item.timeline-item.clearfix
                  .entry-title
                    h2.title
                      a.t-user(href="/user/#{timeline.topic_user_id}",data-original-title="#{timeline.topic_user_nick}")
                        img(data-original="#{timeline.topic_user_headpic}",width="20")
                      span.suo 「话题」
                      a.real-title(href='/topic/#{timeline.topic_id}', title='#{timeline.topic_title}', rel='bookmark') #{timeline.topic_title}
                  .entry-foot
                    div.others
                      span.time.item
                        span.value #{moment(timeline.createdAt).fromNow()} 由
                        a.value.url.fn(rel='author', href='/user/#{timeline.topic_user_id}')  #{timeline.topic_user_nick} 
                        span.value 发布在 话题区
                      span.item
                        span.index 浏览 
                        span.value #{timeline.topic_visit_count}
                      span.item
                        span.index 跟帖
                        span.value  #{timeline.topic_comment_count}
                      if locals.user&&locals.user.is_admin
                        span.actions.item
                          span.index 操作：
                          if timeline.sort ==10000
                            a(href="/index/#{timeline.id}/update?sort=0") 取消置顶
                          else
                            a(href="/index/#{timeline.id}/update?sort=10000") 置顶
                  .entry-name <i class="icon-conversation" title="话题"></i>
              else if timeline.act_id
                .topic-item.timeline-item.clearfix
                  .entry-title
                    h2.title
                      a.real-title(href='/act/#{timeline.act_id}', title='#{timeline.act_title}', rel='bookmark') 【活动】#{timeline.act_title}
                  .entry-foot
                    div.others
                      span.time.item
                        span.value #{moment(timeline.createdAt).fromNow()} 
                        span.value 发布在 活动区
                      span.item
                        span.index 浏览 
                        span.value #{timeline.act_visit_count}
                      span.item
                        span.index 跟帖
                        span.value  #{timeline.act_comment_count}
                      if locals.user&&locals.user.is_admin
                        span.actions.item
                          span.index 操作：
                          if timeline.sort ==10000
                            a(href="/index/#{timeline.id}/update?sort=0") 取消置顶
                          else
                            a(href="/index/#{timeline.id}/update?sort=10000") 置顶
                  .entry-name <i class="icon-sampler" title="活动"></i>
              //- .timeline-item.clearfix
              //-   .user
              //-     .headpic(href="/user/#{timeline.who_id}") 
              //-       img(src="#{timeline.who_headpic}")
              //-   .infos
              //-     .action 
              //-       a.nick(href="/user/#{timeline.who_id}") #{timeline.who_nick}
              //-       |#{timeline.action}
              //-       a.title(href="#{timeline.target_url}") #{timeline.target_name}
              //-       span.time #{moment(timeline.createdAt).fromNow()}
              //-     if timeline.desc
              //-       .desc.clearfix !{timeline.desc}
            include page
      .right
        //- .module
        //-   .hd 公告
        //-   .bd
        .module
          .hd 乱炖是什么？
          .bd
            .desc 乱炖是做一个前端知识平台。它可以支撑我们的线下活动（活动频道），可以提供一个展示自己的平台（专栏频道），可以解答疑惑（问答频道），也可以讨论感兴趣的话题（话题频道）。<br/>我们将其的定位是知识社区，以内容为主，内容来自于目标用户，然后也使目标用户受益。
            a(href="http://www.html-js.com/topic/115") 更多信息
        .module.quick-go
          .hd 快速入口
          .bd
              a.btn(href="/qa/add") 提问
              a.btn(href="/article/add") 发表文章
              a.btn(href="/topic/add") 发起话题
        .module
          img(src="http://htmljs.b0.upaiyun.com//images/aaa.gif")
        .module.text
            .hd 赞助本站（用支付宝扫描）
            .bd
              img(src="http://htmljs.b0.upaiyun.com/uploads/1387784312296-%E5%89%8D%E7%AB%AF%E4%B9%B1%E7%82%96.png")
        .module
          .hd QQ群组
          .bd.
            <div class="textwidget">
              <div>乱炖情感群:<em style=";">46532005</em><a target="_blank" href="http://wp.qq.com/wpa/qunwpa?idkey=785525cf168fab8c11415bd56f5602c3735497d10a66635115b300baf8769e65">加入</a></div>
              <div>乱炖技术群：<em style=";">227896607</em><a target="_blank" href="http://wp.qq.com/wpa/qunwpa?idkey=9b89fe56ea2eb39e08003541dab7282679ba2f0c1fbec2abf1d00d1b7607b280">加入</a></div>
              <div>NodeJS乱炖: <em style=";">95323225</em><a target="_blank" href="http://wp.qq.com/wpa/qunwpa?idkey=bcf7977843816c9dde25f8b8caae2d81675f2224a50545ea313e4e98e33c06dc">加入</a></div>
              <div>自由职业者: <em style=";"> 275182059</em><a target="_blank" href="http://wp.qq.com/wpa/qunwpa?idkey=5fdf12b1a777677e8b1f25e32cec5cee7cfd59417cce2bd7bc46a8cac95972ea">加入</a></div>
              <div>IOS 乱炖: <em style=";"> 292062123</em><a target="_blank" href="http://wp.qq.com/wpa/qunwpa?idkey=3f6b8c853435e0a68b1b86f036eb823a97488cd68c728c7dfe3569a3a9902f7e">加入</a></div>
              <div>求职招聘群: <em style=";"> 12892863</em><a target="_blank" href="http://wp.qq.com/wpa/qunwpa?idkey=e941d6613691a264555ae3fe62168d2d56928bc2a7a7d53d80536ff44fdb63d3">加入</a></div>
              <div>站长的QQ: <em style=";"> 676588498</em></div>
            </div>

        //- .module.top-users
        //-   .hd 最新动态
        //-   .bd
        //-     each active in locals.actives
        //-       .item 
        //-         a(href="/user/#{active.source_user_id}") #{active.source_user_nick} 
        //-         span #{active.action_name.replace("您的","").replace("您","")}
        //-         a(href="#{active.target_path}") #{active.target_path_name.substr(0,20)}
        if locals.top_users
          #fixed-modules
            .module.top-users
              .hd 用户经验榜
              .bd
                each user in locals.top_users
                  .item 
                    a(href="/user/#{user.id}")
                      img(src="#{user.head_pic}",width="20")
                    a(href="/user/#{user.id}") #{user.nick} 
                    span #{user.coin}
            
    include footer
    script(src="#{assets_head}/js/messageTip.js")
    script(src="#{assets_head}/js/loadingTip.js")
    script
      $(".rss").click(function(e){
        e.preventDefault();
        var href= $(this).attr("href")
        HtmlJS.util.ajax(href,{
              
            },"post",function(data){
                loadingTip.hide()
                if(data.success){
                  messageTip.show("订阅成功！")
                }else{
                  alert(data.info)
                }
            },function(){
              HtmlJS.util.ajax(href,{
               
              },"post",function(data){
                  loadingTip.hide()
                  if(data.success){
                    messageTip.show("订阅成功！")
                  }else{
                    alert(data.info)
                  }
              },function(){
              
              
            })
            
          })
        })
      $('.t-user').tooltip({
          placement:"bottom"
      })
      $('.visitor a').tooltip({
          placement:"bottom"
      })
      
      $("img").lazyload();
      

      var container, stats;
      var camera, scene, renderer, group, particle;
      var mouseX = 0, mouseY = 0;

      var windowHalfX = window.innerWidth / 2;
      var windowHalfY = window.innerHeight / 2;

      pinit();
      animate();

      function pinit() {
        container = document.createElement( 'div' );
        document.body.appendChild( container );
        $(container).css({
          position:"fixed",
          top:0,
          background:"#000",
          opacity:0.7,
          zIndex:10000
          })
        $(container).on("click",function(){
          $(container).addClass("hidden")
          isStop = 0;
          })
        camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 1, 3000 );
        camera.position.z = 1000;
        camera.position.y = 500;

        scene = new THREE.Scene();

        var PI2 = Math.PI * 2;
        var program = function ( context ) {

          context.beginPath();
          context.arc( 0, 0, 0.5, 0, PI2, true );
          context.fill();

        }

        group = new THREE.Object3D();
        scene.add( group );
        var color_c = 0;
        for ( var i = 0; i < 1300; i++ ) {
          var color = 0x0e905d;
          var size = 5;
          if(i%10==0){
            color =Math.random() * 0x808008 + 0x808080
            size = 10;
          }
          if(i%30==0){
            size = 15;
          }
          var material = new THREE.SpriteCanvasMaterial( {
            color: color,
            program: program
          } );

          particle = new THREE.Sprite( material );
          particle.position.x = Math.random() * 2000 - 1000;
          particle.position.y = Math.random() * 2000 - 1000;
          particle.position.z = Math.random() * 2000 - 1000;
          particle.scale.x = particle.scale.y = Math.random() * 3 + size;
          group.add( particle );
        }

        renderer = new THREE.CanvasRenderer();
        renderer.setSize( window.innerWidth, window.innerHeight );
        container.appendChild( renderer.domElement );

        

        document.addEventListener( 'mousemove', onDocumentMouseMove, false );
        document.addEventListener( 'touchstart', onDocumentTouchStart, false );
        document.addEventListener( 'touchmove', onDocumentTouchMove, false );

        //

        window.addEventListener( 'resize', onWindowResize, false );

      }

      function onWindowResize() {

        windowHalfX = window.innerWidth / 2;
        windowHalfY = window.innerHeight / 2;

        camera.aspect = window.innerWidth / window.innerHeight;
        camera.updateProjectionMatrix();

        renderer.setSize( window.innerWidth, window.innerHeight );

      }

      //

      function onDocumentMouseMove( event ) {

        mouseX = event.clientX - windowHalfX;
        mouseY = event.clientY - windowHalfY;
      }

      function onDocumentTouchStart( event ) {

        if ( event.touches.length === 1 ) {

          event.preventDefault();

          mouseX = event.touches[ 0 ].pageX - windowHalfX;
          mouseY = event.touches[ 0 ].pageY - windowHalfY;

        }

      }

      function onDocumentTouchMove( event ) {

        if ( event.touches.length === 1 ) {

          event.preventDefault();

          mouseX = event.touches[ 0 ].pageX - windowHalfX;
          mouseY = event.touches[ 0 ].pageY - windowHalfY;

        }

      }

      //
        var isStop = 0;
      function animate() {
      if(!isStop)
        requestAnimationFrame( animate );

        render();

      }
      var t= 0;
      var R = 400;
      var k = 20;
      var max = 60;
      var is_max = false;
      function render() {

         //- camera.position.x += ( mouseX - camera.position.x ) * .01;
         //- camera.position.y += ( - mouseY - camera.position.y ) * .05;
        // camera.lookAt( scene.position );
        t+=0.4;
        R = (max-t)*400/max
        
        var childrens = group.children;
        if(t>max) is_max=true;
        else is_max = false;
        for(var i=0;i<childrens.length;i++){
          var tt = t-i*0.05
          if(tt<0) tt = 0
          var RR = (max-tt)*400/max
          if(is_max&&tt>max) {
            tt = tt%max;
            RR =(max-tt)*400/max
          }
          childrens[i].position.x=RR*Math.cos(tt);
        childrens[i].position.y=k*tt;
        childrens[i].position.z= RR*Math.sin(tt);
        }
         // if(t>max*2) t =0;
        // group.rotation.x += 0.01;
        // group.rotation.y += 0.02;

        renderer.render( scene, camera );

      }

      
    