!!! 5
html
  head
    include head
    title 前端乱炖, 最专业的前端技术内容社区
    |<meta name="description" content="前端乱炖，这里是最专业的前端知识平台，汇集国内大部分前端开发人员的前端花名册，最精彩的原创文章专栏，最专业的问答平台，最火热的话题频道，最丰富的线下线上活动。html,js,css,nodejs,前端开发,前端招聘,jquery,qianduan">
    style
      #bdshare a{}
      
    script(src='#{assets_head}/js/bootstrap/bootstrap-tooltip.js')
    script(src='#{assets_head}/js/lazyload.js')
  body#index
    - locals.pageId=0;
    include header

    #content.clearfix
      .content
          .top.clearfix
            div.module(style="margin-bottom:10px;padding-top:20px;")
              a(href="http://zt.zhubajie.com/ztold/hr/",target="_blank")
                img(src="http://htmljs.b0.upaiyun.com/uploads/1403661703199-3D17D4381A7CB45B77B6B5244BA5918C.png",width="750")
              img.wxqcode(style="width:200px;float:right;",src="http://htmljs.b0.upaiyun.com/uploads/1393256038450-fff.png")
            //- div
            //-   a(href="https://www.upyun.com/op/dev/?md=html-js_dev",target="_blank")
            //-     img(src="http://htmljs.b0.upaiyun.com/uploads/1397745433102-html-js.png",style="width:100%;")
          
            .module.about
              a(href="http://www.html-js.com/topic/115") 关于乱炖
              span JS&Node.js乱炖：<em style=";">95323225</em>
              span 前端乱炖技术群：<em style=";">227896607</em>
              span 求职招聘群: <em style=";"> 12892863</em>
              a(href="http://www.html-js.com/talk") 在线聊天
              |<a href="http://weibo.com/1734409185" target="_blank" title="前端乱炖" class="weibo"><img src="http://htmljs.b0.upaiyun.com/uploads/1390798045853-20140127124729317_easyicon_net_32.png" width="25" style="vertical-align:-8px"/></a>
              a(href="http://www.html-js.com/act/4") 
                img(src="#{assets_head}/images/zanzhu.png",style="height:25px;vertical-align:-8px;")
              //- <div>自由职业者: <em style=";"> 275182059</em><a target="_blank" href="http://wp.qq.com/wpa/qunwpa?idkey=5fdf12b1a777677e8b1f25e32cec5cee7cfd59417cce2bd7bc46a8cac95972ea">加入</a></div>
              //- <div>求职招聘群: <em style=";"> 12892863</em><a target="_blank" href="http://wp.qq.com/wpa/qunwpa?idkey=e941d6613691a264555ae3fe62168d2d56928bc2a7a7d53d80536ff44fdb63d3">加入</a></div>
              //- <div>站长的QQ: <em style=";"> 676588498</em></div>
          if locals.articles
            .module.mod.recent_articles
              .hd
                a(href="/article") 最新的专栏文章（#{locals.all_count?all_count.article:0}）
              .bd(role="list")
                each article,i in articles
                  .item(class="#{article.visit_count<60?'new':''} #{Math.floor(i/2)%2==1?'yooo':''}",role="listitem")
                    a.title(href="/article/#{article.pinyin?article.pinyin:article.id}") #{article.title}
                    .desc 
                      a.user(href="/user/#{article.user_id}") #{article.user_nick}
                      span.time #{moment(article.createdAt).fromNow()}
                      span.desc-item
                        span.index 浏览
                        a.value #{article.visit_count}
                      span.desc-item
                        span.index 赞
                        a.value #{article.zan_count}
                .columns 
                  .hd
                    a(href="/article/column") 最近更新的专栏（#{locals.all_count?all_count.column:0}）
                  each column in columns
                    if column.user.id
                      .column
                        a.tooltip-trigger(href="/user/#{column.user_id}",data-original-title="#{column.user.nick}")
                          img(src="#{column.user.head_pic}")
                        a.name.tooltip-trigger(href="/article/column/#{column.id}",data-original-title="#{column.name}  #{moment(column.last_article_time*1).fromNow()}") #{column.name.substr(0,16)}
                        if column.is_rssed
                          span.rssed.tooltip-trigger(data-original-title="已订阅")
                            i.rss.social
                        else
                          a.rss.tooltip-trigger(href="/article/column/#{column.id}/rss",data-original-title="订阅此专栏")
                            i.rss.social
          if locals.tuan_columns
            .module.tuanColumn
              .hd 团队专栏
              .bd
                .column-list
                  each column in tuan_columns
                    .column
                      a.title(href="/article/column/#{column.id}") #{column.name}（#{column.article_count}）
                      .desc !{column.desc_html?column.desc_html.replace(/<[^>]*>/g,'').replace(/\s/g,'').substr(0,50)+"...":""}
                      .user
                        span 作者：
                        a(href="/user/#{column.user.id}") #{column.user.nick}
                      .actions
                          a.rss-btn(href="/article/column/#{column.id}/rss")
                            i.rss.social
                            |  邮件订阅（#{column.rss_count}）
                .actions
                  a.btn(href="/article/column/add") 创建专栏 
                  a.more(href="/article/column") 所有专栏（#{locals.all_count?all_count.column:0}）

          if locals.topics
            .module.mod
              .hd
                a(href="/topic") 最新的话题（#{locals.all_count?all_count.topic:0}）
              .bd
                each topic,i in topics
                  .item(class="#{topic.visit_count<30?'new':''}  #{Math.floor(i/2)%2==1?'yooo':''}")
                    a.title(href="/topic/#{topic.id}") #{topic.title}
                    .desc 
                      if topic.last_comment_user_id
                        | <a class="user" href="/user/#{topic.last_comment_user_id}">#{topic.last_comment_user_nick}</a>
                      span.time #{moment(topic.last_comment_time).fromNow()}
                      span.desc-item
                        span.index 浏览
                        a.value #{topic.visit_count}
                      span.desc-item
                        span.index 跟帖
                        a.value #{topic.comment_count}
                .topic_tags
                  .hd 话题类型
                  each tag in topic_tags
                    a.tag(href="/topic?tag_id=#{tag.id}",class="#{tag.important?'important':''}") #{tag.name}
          if locals.cards
            .module.mod.recent_cards
              .hd
                a(href="/cards") 花名册新人（#{locals.all_count?all_count.card:0}）
              .bd
                if !locals.user || !locals.user.card_id
                  .card.user(class="nan-user")
                    .pic
                      a.tooltip-trigger(href="/edit-card",data-original-title="加入花名册")
                        img(src="http://htmljs.b0.upaiyun.com/uploads/1388023439858-ce.png")
                    .name
                      a(href="/edit-card")  我也加入
                each card,i in cards
                  .card.user(class="#{card.sex=='男'?'nan-user':'nv-user'}")
                    .pic
                      a.tooltip-trigger(href="/card/#{card.id}",data-original-title="#{card.desc}")
                        img(src="#{card.head_pic}")
                        if card.sex == '男'
                          .sex.nan
                        else
                          .sex.nv
                    .name
                      a(href="/card/#{card.id}")  #{card.nick}
          include google970
          //- .module.timelines
          //-   each timeline in timelines
          //-     if timeline.card_id
          //-       .card-item.timeline-item.clearfix
          //-         a.t-user(href="/user/#{timeline.card_user_id}",data-original-title="#{timeline.card_nick}")
          //-           img(data-original="#{timeline.card_head_pic}",width="20")
          //-         span.value  #{moment(timeline.createdAt).fromNow()} 
          //-         a(href="/card/#{timeline.card_id}") #{timeline.card_nick} 
          //-         span 添加了自己的名片：
          //-         a(href="/card/#{timeline.card_id}") 查看名片 
          //-         .entry-name <i class="icon-nameplate" title="名片"></i>
          //-     else if timeline.article_id
          //-       .article-item.timeline-item.clearfix
          //-         .entry-title
          //-           h2.title
          //-             a.t-user(href="/user/#{timeline.article_user_id}",data-original-title="#{timeline.article_user_nick}")
          //-               img(data-original="#{timeline.article_user_headpic}",width="20")
          //-             span.suo 「专栏」
          //-             a.real-title(href='/article/#{timeline.article_id}', title='#{timeline.article_title}', rel='bookmark') #{timeline.article_title}
          //-         .entry-foot
          //-           div.others
          //-             span.time.item
          //-               span.value #{moment(timeline.createdAt).fromNow()} 由
          //-               a.value.url.fn(rel='author', href='/user/#{timeline.article_user_id}')  #{timeline.article_user_nick} 
          //-               span.value 
          //-                 | 发布在 
          //-                 if timeline.article_column_id && locals.columns
          //-                   each column in columns
          //-                     if column.id == timeline.article_column_id
          //-                       a(href="/article/column/#{column.id}") #{column.name}
          //-                 |  专栏
          //-             span.item
          //-               span.index 浏览 
          //-               span.value #{timeline.article_visit_count}
          //-             span.item
          //-               span.index 评论 
          //-               span.value  #{timeline.article_comment_count}
          //-             span.item
          //-               span.index 评分
          //-               a.value(href="/article/#{timeline.article_id}#score")  #{timeline.article_score}
          //-             if locals.user&&locals.user.is_admin
          //-               span.actions.item
          //-                 span.index 操作：
          //-                 if timeline.sort ==10000
          //-                   a(href="/index/#{timeline.id}/update?sort=0") 取消置顶
          //-                 else
          //-                   a(href="/index/#{timeline.id}/update?sort=10000") 置顶
          //-         .entry-name <i class="icon-book-open" title="专栏原创文章"></i>
                      
          //-     else if timeline.question_id
          //-       .question-item.timeline-item.clearfix
          //-         .entry-title
          //-           h2.title
          //-             a.t-user(href="/user/#{timeline.question_user_id}",data-original-title="#{timeline.question_user_nick}")
          //-               img(data-original="#{timeline.question_user_headpic}",width="20")
          //-             span.suo 「问题」
          //-             a.real-title(href='/qa/#{timeline.question_id}', title='#{timeline.question_title}', rel='bookmark') #{timeline.question_title}
          //-         .entry-foot
          //-           div.others
          //-             span.time.item
          //-               span.value #{moment(timeline.createdAt).fromNow()} 由
          //-               a.value.url.fn(rel='author', href='/user/#{timeline.question_user_id}')  #{timeline.question_user_nick} 
          //-               span.value 发布在 问答区
          //-             span.item
          //-               span.index 浏览 
          //-               span.value #{timeline.question_visit_count}
          //-             span.item
          //-               span.index 回答 
          //-               span.value #{timeline.question_answer_count}
          //-             if locals.user&&locals.user.is_admin
          //-               span.actions.item
          //-                 span.index 操作：
          //-                 if timeline.sort ==10000
          //-                   a(href="/index/#{timeline.id}/update?sort=0") 取消置顶
          //-                 else
          //-                   a(href="/index/#{timeline.id}/update?sort=10000") 置顶
          //-         .entry-name <i class="icon-lightbulb"  title="问答"></i>
          //-     else if timeline.topic_id
          //-       .topic-item.timeline-item.clearfix
          //-         .entry-title
          //-           h2.title
          //-             a.t-user(href="/user/#{timeline.topic_user_id}",data-original-title="#{timeline.topic_user_nick}")
          //-               img(data-original="#{timeline.topic_user_headpic}",width="20")
          //-             span.suo 「话题」
          //-             a.real-title(href='/topic/#{timeline.topic_id}', title='#{timeline.topic_title}', rel='bookmark') #{timeline.topic_title}
          //-         .entry-foot
          //-           div.others
          //-             span.time.item
          //-               span.value #{moment(timeline.createdAt).fromNow()} 由
          //-               a.value.url.fn(rel='author', href='/user/#{timeline.topic_user_id}')  #{timeline.topic_user_nick} 
          //-               span.value 发布在 话题区
          //-             span.item
          //-               span.index 浏览 
          //-               span.value #{timeline.topic_visit_count}
          //-             span.item
          //-               span.index 跟帖
          //-               span.value  #{timeline.topic_comment_count}
          //-             if locals.user&&locals.user.is_admin
          //-               span.actions.item
          //-                 span.index 操作：
          //-                 if timeline.sort ==10000
          //-                   a(href="/index/#{timeline.id}/update?sort=0") 取消置顶
          //-                 else
          //-                   a(href="/index/#{timeline.id}/update?sort=10000") 置顶
          //-         .entry-name <i class="icon-conversation" title="话题"></i>
          //-     else if timeline.act_id
          //-       .topic-item.timeline-item.clearfix
          //-         .entry-title
          //-           h2.title
          //-             a.real-title(href='/act/#{timeline.act_id}', title='#{timeline.act_title}', rel='bookmark') 【活动】#{timeline.act_title}
          //-         .entry-foot
          //-           div.others
          //-             span.time.item
          //-               span.value #{moment(timeline.createdAt).fromNow()} 
          //-               span.value 发布在 活动区
          //-             span.item
          //-               span.index 浏览 
          //-               span.value #{timeline.act_visit_count}
          //-             span.item
          //-               span.index 跟帖
          //-               span.value  #{timeline.act_comment_count}
          //-             if locals.user&&locals.user.is_admin
          //-               span.actions.item
          //-                 span.index 操作：
          //-                 if timeline.sort ==10000
          //-                   a(href="/index/#{timeline.id}/update?sort=0") 取消置顶
          //-                 else
          //-                   a(href="/index/#{timeline.id}/update?sort=10000") 置顶
          //-         .entry-name <i class="icon-sampler" title="活动"></i>
              //- .timeline-item.clearfix
              //-   .user
              //-     .headpic(href="/user/#{timeline.who_id}") 
              //-       img(src="#{timeline.who_headpic}")
              //-   .infos
              //-     .action 
              //-       a.nick(href="/user/#{timeline.who_id}") #{timeline.who_nick}
              //-       |#{timeline.action}
              //-       a.title(href="#{timeline.target_url}") #{timeline.target_name}
              //-       span.time #{moment(timeline.createdAt).fromNow()}
              //-     if timeline.desc
              //-       .desc.clearfix !{timeline.desc}
            //- include page
      //- .right
        //- .module
        //-   .hd 公告
        //-   .bd
        
        .module
          .hd 乱炖是什么？
          .bd
            .desc 乱炖是做一个前端知识平台。它可以支撑我们的线下活动（活动频道），可以提供一个展示自己的平台（专栏频道），可以解答疑惑（问答频道），也可以讨论感兴趣的话题（话题频道）。<br/>我们将其的定位是知识社区，以内容为主，内容来自于目标用户，然后也使目标用户受益。
            a(href="http://www.html-js.com/topic/115") 更多信息
        
        .module.text
            .hd 赞助本站（支付宝扫描）
            .bd
              img(src="http://htmljs.b0.upaiyun.com/uploads/1387784312296-%E5%89%8D%E7%AB%AF%E4%B9%B1%E7%82%96.png")
        .module
          .hd QQ群组
          .bd.
            <div class="textwidget">
              <div>乱炖情感群:<em style=";">46532005</em><a target="_blank" href="http://wp.qq.com/wpa/qunwpa?idkey=785525cf168fab8c11415bd56f5602c3735497d10a66635115b300baf8769e65">加入</a></div>
              <div>乱炖技术群：<em style=";">227896607</em><a target="_blank" href="http://wp.qq.com/wpa/qunwpa?idkey=9b89fe56ea2eb39e08003541dab7282679ba2f0c1fbec2abf1d00d1b7607b280">加入</a></div>
              <div>NodeJS乱炖: <em style=";">95323225</em><a target="_blank" href="http://wp.qq.com/wpa/qunwpa?idkey=bcf7977843816c9dde25f8b8caae2d81675f2224a50545ea313e4e98e33c06dc">加入</a></div>
              <div>自由职业者: <em style=";"> 275182059</em><a target="_blank" href="http://wp.qq.com/wpa/qunwpa?idkey=5fdf12b1a777677e8b1f25e32cec5cee7cfd59417cce2bd7bc46a8cac95972ea">加入</a></div>
              <div>IOS 乱炖: <em style=";"> 292062123</em><a target="_blank" href="http://wp.qq.com/wpa/qunwpa?idkey=3f6b8c853435e0a68b1b86f036eb823a97488cd68c728c7dfe3569a3a9902f7e">加入</a></div>
              <div>求职招聘群: <em style=";"> 12892863</em><a target="_blank" href="http://wp.qq.com/wpa/qunwpa?idkey=e941d6613691a264555ae3fe62168d2d56928bc2a7a7d53d80536ff44fdb63d3">加入</a></div>
              <div>站长的QQ: <em style=";"> 676588498</em></div>
            </div>

        //- .module.top-users
        //-   .hd 最新动态
        //-   .bd
        //-     each active in locals.actives
        //-       .item 
        //-         a(href="/user/#{active.source_user_id}") #{active.source_user_nick} 
        //-         span #{active.action_name.replace("您的","").replace("您","")}
        //-         a(href="#{active.target_path}") #{active.target_path_name.substr(0,20)}
        if locals.top_users
          #fixed-modules
            
            

    include footer
    script(src="#{assets_head}/js/messageTip.js")
    script(src="#{assets_head}/js/loadingTip.js")
    script
      $.getScript("http://localhost:8765/assets/socket.io/socket.io.js",function(){
        var socket = io.connect('http://localhost');
        socket.on('news', function (data) {
          console.log(data);
          socket.emit('my other event', { my: 'data' });
        });
      }
    

      
    