!!! 5
html
  head
    include ../head
    title #{locals.article&&article.title} - 专栏 - 前端乱炖
    |<meta name="description" content="#{locals.article?article.html.replace(/<[^>]*?>/g,'').replace(/\s/g,'').substr(0,100):""}">
    style
      #bdshare a{}
    script(src='#{assets_head}/js/bootstrap/bootstrap-tooltip.js')
    script(src='#{assets_head}/js/bootstrap/bootstrap-scrollspy.js')
  body#article
    - locals.pageId=1;
    include ../header
    #content.clearfix
      .daen
      ul.breadcrumb.hidden
        li
          a(href="/") 首页
          span.divider /
        if column
          li
            a(href="/article") 所有专栏
            span.divider /
          li
            a(href="/article/column/#{column.id}") #{column.name}
            span.divider /
        else
          li
            a(href="/article/") 专栏
            span.divider /
        li.active
          span #{article.title}
      if !article
        p.alert 不存在的阅读篇章
      else
        .content
            

            .title
              .wrapper

                h2.title(href='http://p.html-js.com/article/#{article.id}', title='#{article.title}', rel='bookmark') #{article.title}
                .info
                  div.line
                    span.author.vcard.item
                      span.index #{article.quote_url?"推荐者":"作者"}：
                      a.value.url.fn(rel='author', href='/user/#{article.user_id}') #{article.user_nick} 
                    span.time.item
                      a.value #{moment(article.publish_time*1000).fromNow()}
                    span.item
                      span.index view：
                      span.value #{article.visit_count}
                  if column
                    div.line
                      span.item
                        span.index 所属专栏：
                        a.value(href="/article/column/#{column.id}") #{column.name}
                        a.rss(href="/article/column/#{column.id}/rss")
                          |  订阅此专栏 
                .actions
                  
                  a.zan.action(href="javascript:void(0);") 
                    i.icon-thumbs-up
                    if locals.has_zan
                      |<em>已赞</em> <span>#{article.zan_count}</span>
                    else
                      |<em>赞</em> <span>#{article.zan_count}</span>
                  a#bdshare.action.bdshare_t.bds_tools.get-codes-bdshare(href="#comment",style="float:none;") 
                    i.icon-new-window
                    em.bds_more(style="background:none !important;float:none;display:inline;padding:0;") 分享
                  if locals.user && (user.is_admin||user.id==article.user_id)
                    a.action(href="/article/#{article.id}/edit") 编辑
                  a.add_fav.action(href="javascript:void(0);") 
                    //- i.icon-heart
                    if locals.has_fav
                      |<em>已收藏</em> <span>#{locals.favs?locals.favs.length:0}</span>
                    else
                      |<em>收藏</em> <span>#{locals.favs?locals.favs.length:0}</span>
                  
            article.post(id="post-#{article.id}")
              .artivle_nav
                ul.nav
              .wrapper
                
                .entry-content !{article.html.replace(/([^>])\r\n\r\n([^<])/g,"$1<br/>$2").replace(/<code>/g,"<code class='language-javascript'>")}
                //- if article.card && article.card.alipay 
                //-   div.donate.module(style="margin-top:10px;")
                //-     .hd 如果本文对您有帮助，本站希望您能为作者赞助一点心意，
                //-     .bd
                //-       p(style="color:#999;") 本站推荐按照您的情况，为作者捐助一下金额：1元，5元，10元，20元，或者更多。
                //-       p 
                //-         a(href="#{article.card.alipay}",target="_blank") 点击这里用支付宝捐助
            .bottom-action
              .wrapper
                .actions
                  a.zan.action(href="javascript:void(0);") 
                    i.icon-thumbs-up
                    if locals.has_zan
                      |<em>已赞</em> <span>#{article.zan_count}</span>
                    else
                      |<em>赞</em> <span>#{article.zan_count}</span>
                  a#bdshare.action.bdshare_t.bds_tools.get-codes-bdshare(href="#comment",style="float:none;") 
                    i.icon-new-window
                    em.bds_more(style="background:none !important;float:none;display:inline;padding:0;") 分享
                  
                  
                  if locals.user && (user.is_admin||user.id==article.user_id)
                    a.action(href="/article/#{article.id}/edit") 编辑
                  a.add_fav.action(href="javascript:void(0);") 
                    //- i.icon-heart
                    if locals.has_fav
                      |<em>已收藏</em> <span>#{locals.favs?locals.favs.length:0}</span>
                    else
                      |<em>收藏</em> <span>#{locals.favs?locals.favs.length:0}</span>
                  
                .entry-meta
                  p 本站专栏文章皆为原创，转载请注明出处（带有 前端乱炖 字样）和本文的显式链接(<a href="http://www.html-js.com/article/#{article.id}">http://www.html-js.com/article/#{article.id}</a>)，本站和作者保留随时要求删除文章的权利！
            if column_articles && column_articles.length
              .other-articles.module
                .hd 本专栏其他文章
                .bd
                  each article,i in column_articles
                    div
                      a(href="/article/#{article.id}") · #{article.title} 
                      span.time 时间:#{moment(article.createdAt).format("YYYY-MM-DD")}
                      span.visit_count 浏览:#{article.visit_count}
                      span.zan_count 赞:#{article.zan_count}

            .comment.module#comment
              .hd 评论
              .bd
                .publish 
                  textarea.input-block-level#comment-text(placeholder="参与讨论。支持markdown语法")
                  .btn.comment-submit#comment-submit 发表评论
                .comment-list
                  if comments.length
                    each comment in comments
                      .comment-item.clearfix
                        a.headpic
                          img(src="#{comment.user_headpic}",width=70,height=70)
                        .comment-right
                          div.con 
                            span.author.vcard.item
                              a.value.url.fn(rel='author', href='/user/#{comment.user_id}') #{comment.user_nick}：
                            .html !{comment.html}
                          .time #{moment(comment.createdAt).fromNow()}
                            a.reply(data-nick="#{comment.user_nick}") 回复
                  else
                    div 暂无评论
                script#comment-tpl(type="text/template")
                  .comment-item.clearfix
                    a.headpic
                      img(src="{{user_headpic}}",width=70,height=70)
                    .comment-right
                      div.con 
                        span.author.vcard.item
                          a.value.url.fn(rel='author', href='/user/{{user_id}}') {{user_nick}}：
                        .html {{{html}}}
                      .time {{createdAt}} 
                        a.reply(data-nick="{{user_nick}}") 回复
      - locals.shareImgs = article.html.match(/img\s*?src=["|'](.*?)["|']/);
      p.
        <script id="bdshare_js" data="type=tools&amp;uid=2555549" ></script>
        <script type="text/javascript" id="bdshell_js"></script>
        <script type="text/javascript">
        var bds_config={"bdText":"分享一篇@#{article.user_nick} 的原创文章【#{article.title}】来自@前端乱炖 {column?'专栏「'+column.name+'」':''} {{前端乱炖是国内最专业的前端知识原创内容社区}}","bdPic":"http://www.html-js.com/uploads/article_thumb/#{article.id}.png","snsKey":{'tsina':'659341943','tqq':'','t163':'','tsohu':''}}
        document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
        </script>
    include ../footer
    script(src="#{assets_head}/js/mustache.js")
    script(src="#{assets_head}/js/messageTip.js")
    script(src="#{assets_head}/js/loadingTip.js")
    script
      $(window).scroll(function(){
        if($(window).scrollTop()+$(window).height()>=$(".comment").offset().top){
          $(".comment-layer").addClass("hidden")
        }else{
        $(".comment-layer").removeClass("hidden")
        }
        })
      $(".comment-layer").click(function(){
        $("html,body").animate({
          scrollTop:$(".comment").offset().top-200
          })
        $(".comment textarea").focus()
        })
      var comment_tpl = $("#comment-tpl").html()
      //- loadingTip.show("评论加载中")
      //- $.ajax({
      //-   url:"/comment/article_#{article.id}",
      //-   type:"get",
      //-   dataType:"json",
      //-   success:function(data){
      //-     loadingTip.hide("正在提交中")
      //-       if(data.success){
      //-       for(var i=0;i<data.comments.length;i++){
      //-       var comment = data.comments[i]
      //-         var html = Mustache.render(comment_tpl,comment);
      //-         $(".comment-list").append(html)
      //-         $(".reply").click(function(){
      //-   $("#comment-text").val("@"+$(this).attr("data-nick")+" ").focus()
      //-    $("#comment-text")[0].setSelectionRange($("#comment-text")[0].value.length, $("#comment-text")[0].value.length)
      //-   })
      //-       }
      //-       }else{
      //-       alert(data.info)
      //-       }
            
      //-   }
      //-   })

      $(".reply").click(function(){
        $("#comment-text").val("@"+$(this).attr("data-nick")+" ").focus()
         $("#comment-text")[0].setSelectionRange($("#comment-text")[0].value.length, $("#comment-text")[0].value.length)
        })
      $("#comment-submit").click(function(){
        var text = $("#comment-text").val();
        if(!text){
          messageTip.show("请输入评论内容");
        }else{
          loadingTip.show("正在提交中")
           HtmlJS.util.ajax("/comment/add",{
              md:text,
              target_id:"article_#{article.id}"
            },"post",function(data){
              loadingTip.hide()
                if(data.success){
                $("#comment-text").val("")
                var html = Mustache.render(comment_tpl,data.comment);
                  $(".comment-list").prepend(html)
                }else{
                  alert(data.info)
                }
            },function(){

            },null,function(){
            HtmlJS.util.ajax("/comment/add",{
              md:text,
              target_id:"article_#{article.id}"
            },"post",function(data){
              loadingTip.hide()
                if(data.success){
                $("#comment-text").val("")
                var html = Mustache.render(comment_tpl,data.comment);
                  $(".comment-list").prepend(html)
                }else{
                  alert(data.info)
                }
            },function(){

            },null,function(){
            
          })
          })
        }
        })
        
        $(".zan").click(function(){
          var self = this;
            HtmlJS.util.ajax("/article/#{article.id}/zan",{
              score:$(self).attr("data-index")
            },"post",function(data){
              loadingTip.hide()
                if(data.success){
                  
                  messageTip.show("成功！")
                    $("em",self).html("已赞")
                    $("span",self).html($("span",self).html()*1+1)
                }else{
                  alert(data.info)
                }
            },function(){

            },null,function(){
            HtmlJS.util.ajax("/article/#{article.id}/zan",{
              score:$(self).attr("data-index")
            },"post",function(data){
              loadingTip.hide()
                if(data.success){
                  messageTip.show("成功！")
                    $("em",self).html("已赞")
                    $("span",self).html($("span",self).html()*1+1)
                }else{
                  alert(data.info)
                }
            },function(){

            },null,function(){
            
          })
          })
          })
          $('.user').tooltip({
          placement:"bottom"
          });
          $(".add_fav").click(function(){
            var self=this;
            HtmlJS.util.ajax("/user/fav",{
              uuid:"#{article.uuid}"
            },"post",function(data){
                loadingTip.hide()
                if(data.success){
                  messageTip.show("收藏成功！")
                    $("em",self).html("已收藏")
                     $("span",self).html($("span",self).html()*1+1)
                }else{
                  alert(data.info)
                }
            },function(){},null,function(){
                HtmlJS.util.ajax("/user/fav",{
                  uuid:"#{article.uuid}"
                },"post",function(data){
                    loadingTip.hide()
                    if(data.success){
                      messageTip.show("收藏成功！")
                         $("em",self).html("已收藏")
                          $("span",self).html($("span",self).html()*1+1)
                    }else{
                      alert(data.info)
                    }
                },function(){
                })
            })
            });

          //- (function(){
          //-   var ts = ['h1','h2','h3','h4']
          //-   var html = ""
          //-   var id_count = 0;
          //-   $(".post .entry-content").find("h1,h2,h3,h4").each(function(i,h){
          //-     id_count++
          //-     h.id="h"+id_count
          //-     html+="<li class='item item-"+h.tagName+"'><a href='#h"+id_count+"'> · "+h.innerHTML+"</a></li>"
          //-   })
          //-     $(".artivle_nav .nav").html(html)
          //-     $('.artivle_nav').scrollspy()
          //-     if($('.artivle_nav').length){
          //-     var offset = $('.artivle_nav').offset();
          //-     $(window).scroll(function(){
          //-       var scrollTop = $(window).scrollTop();
          //-       if (offset.top < scrollTop+40) 
          //-         $('.artivle_nav').addClass('fixed').css({
          //-         position:"fixed",top:0
          //-         });
          //-       else $('.artivle_nav').removeClass('fixed').css({
          //-         position:"absolute",top:0
          //-       });
          //-       if($('.artivle_nav').height()+$('.artivle_nav').offset().top>$(".bottom-action").offset().top+60){
          //-         $('.artivle_nav').css({position:"absolute",top:$(".post").height()-$('.artivle_nav').height()+60})
          //-       }
          //-     });
          //-   }
          //-   })();
            
   include ../googlead